// Place all the styles related to the questions controller here.
body {
    background-color:honeydew;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
